<style>
		
		body {
				background-color: #A9A9A9;
			</*	background-image: url("images/background_texture02.jpg"), url("background_texture01.jpg"); <*/
				font-size: 25px;
				font-family: ;
			}

			h1 {
				text-align: center;
				font-style: italic; 
				font-family: fantasy;
				font-size: 80px;
			}

			h2 {
				text-align: center;
				font-style: italic;
			}

			a {
				color: blue;
			}


			h3 {
				font-size: 30px;
				font-style: italic;
			}

			.column1 {
  				float: none;
  				width: 33.33%;
 				padding: 5px;
			}

			.column2 {
  				float: none;
  				width: 33.33%;
 				padding: 5px;
			}

			.column3 {
  				float: inherit;
  				width: 33.33%;
 				padding: 5px;
			}

</style>